.table-container {
    overflow: scroll;
}

table {
    width: 100vw; /* Make the table span full width of the viewport */
    max-width: 100%; /* Prevent the table from exceeding the width of the screen */
    height: 100vh; /* Make the table span full height of the viewport */
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    min-height: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    vertical-align: top;
    text-align: center; /* Center align horizontally */
}

td {
    text-align: center; /* Center align horizontally */
    vertical-align: middle; /* Center align vertically */
}
/* Make images smaller */
td img {
width: 120px; /* Adjust the maximum width as needed */
height: 120px;
border: 1px solid #000; /* Border width and color */
border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        display: block;
    }
}

.tanggal {
    font-size: 14px;
    font-weight: bold
} 
.small-text {
    font-size: 14px; /* Adjust the font size as needed */
    font-style: italic;
}
